:root {
  --bg-light: #282A2F;
  --bg-dark: #16171A;
  --text-color: #D5E2FF;
  --text-muted: #C0D3FF;
  --primary: #233873;
  --primary-light: #365097;
  --primary-dark: #1D2E5C;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--text-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-dark);
  border-radius: 12px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;  
}

.button {
  width: 4rem;  
  font-size: 1.3rem;
  height: 4rem;
  background-color: var(--primary);
  border-radius: 12px;
  border: none;
  color: var(--text-color);
  box-shadow: var(--primary-dark) 0px 4px 0px;
}
.button:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}
.button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 4rem;
  background-color: var(--text-color);
  color: var(--bg-dark);
  text-align: right;
  margin-bottom: 10px;
  border-radius: 12px;
  padding-right: 8px;
}
.display .equation {
  font-size: 1.7rem;
  font-weight: bold;
}
.display .result {
  font-size: 1.1rem;
  color: var(--bg-light);
  font-weight: 700;
}

.zero {
   grid-column: span 2;
   width: calc(8rem + 10px);
}